


.footer {
    height: 7vh;
    position: fixed;
    bottom: 0;
    border-top: 2px solid rgba(128, 112, 112, 0.3);
   
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.nav__link {
    text-align: center;
    border-right: rgba(128, 128, 128, 0.692);
    width: 100%;
}

.nav__link__icon {
    width: 20%;
    /*height: 20px;*/
    
}

.nav__link__icon--hover:hover {
    cursor: pointer;
    background-color: rgba(233, 233, 233, 0.986);
    border-radius: 100px;

}